body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
background-color:#769fb3;
display: flex; 


}

.bacground-page{
    width: 40rem;
    height: 45rem;
    background-color: #001a31;
    margin: auto;
    background: linear-gradient(to bottom, #001f3f 50%, rgba(4,102,93,255) ); 
    box-shadow: inset 0 -20px 30px rgba(0, 0, 0, 0.2); 
    text-align: center;
}

.text-date{
    text-align: center;
    padding-top: 1rem;
    color: aliceblue;
    font-size: 3rem;
    margin-top: 20px;
}

.text-city{
    text-align: center;
color: aliceblue;   
font-weight: bold;
font-size: 3rem;


}

.cloud-icon{
    width: 10rem;
    height: 10rem;
    margin-top: -2rem; 
    padding-bottom: 0; 
    
    



}

.input-text{
width: 9rem;
height: 1.5rem;
margin-right: auto;
margin-left: auto;
background-color: #83afb8;
border-radius: 1rem;
font-size: 1.2rem;
color: rgb(14, 12, 12);

}

.name-city{
    color: aliceblue;
    font-size: 15px;
    font-weight: bold ;
    margin-right: 0.5rem;

}

.resullte{
    width: 12%;
    height: 4%;
    background-color: rgb(182, 216, 230);
    border-radius: 1rem;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
}

.Party{
    font-style: italic;
    
    color:antiquewhite

}

.num1{
color: antiquewhite;
font-size: 4rem;
margin-top: 1rem;
}



.icon-Weather{
    width: 2rem;
    height: auto;
    margin-bottom: 4.5rem; 
    margin-left: 2.5rem; 
    margin-right: .5rem; 
    padding: 0%; 
    display: block; 
    
}


.icon-container {
    display: flex; 
justify-content: center;
    align-items: center;

}

.png-text{
color: bisque;
font-weight: bold;
}
